@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    line-height: inherit;
  }
  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 3.9%;
  --chart-1: 173 58% 39%;
  --chart-2: 12 76% 61%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --color-chrome: #4285f4;
  --color-safari: #007aff;
  --color-firefox: #ff9500;
  --color-edge: #00abeb;
  --color-other: #8e24aa;
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 9, 9, 11;
    --background-end-rgb: 9, 9, 11;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
    --sh-class: #3b82f6;
    --sh-identifier: #b0bec5;
    --sh-sign: #607d8b;
    --sh-property: #0288d1;
    --sh-entity: #1de9b6;
    --sh-jsxliterals: #8c9eff;
    --sh-string: #4caf50;
    --sh-keyword: #ff4081;
    --sh-comment: #607d8b;
  }
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  cursor:
    url("/tab-cursor.png") 10 10,
    pointer;
}

a,
button,
[role="button"],
input[type="submit"],
input[type="button"],
.clickable {
  cursor:
    url("/mac-cursor.png") 10 10,
    pointer;
}

.nav-underline {
  position: relative;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  text-decoration-color: #ff4d00;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.nav-underline::after {
  content: none;
}

.flip-container {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 160px;
  height: 160px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-container:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.75rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

::selection {
  background-color: #38a662;
  color: white;
}

@font-face {
  font-family: "Peachi";
  src: url("/fonts/peachi-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Life of Apple";
  src: url("/fonts/Life-of-Apple.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ride My Bike";
  src: url("/fonts/latinotype-ridemybike-pro-bold-italic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.piano-main {
  align-items: center;
  display: flex;
  overflow: auto;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.piano-child1 {
  position: relative;
  width: 100%;
  flex: 1 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
  flex-direction: column;
}

.piano-child2 {
  position: relative;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.piano-child2 > div:nth-child(1) {
  height: 30px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: inline-flex;
}

.piano-child2 > div:nth-child(2) {
  flex: 1 1;
  width: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
}

.piano-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  overflow: auto;
  margin-bottom: 40px;
}

.piano-roll {
  height: 60%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  flex: 1;
}

.octave {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  position: relative;
  max-width: 200px;
}

.octave:nth-child(1) span:nth-child(1) {
  border-left: 1px solid #aaaaaa;
}

.blackNotes {
  height: 55px;
  display: flex;
  width: auto;
  left: 0;
  right: 0;
  top: 1px;
  position: absolute;
}

.whiteNotes {
  height: 100%;
  display: flex;
}

.whiteNotes > span {
  width: auto;
  height: 100%;
  display: inline-block;
  border-right: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  flex-grow: 1;
  order: 1;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-color: white;
}

.whiteNotes > span[active]:nth-child(1) {
  background-color: #f00;
}

.whiteNotes > span[active]:nth-child(2),
.blackNotes > span[active]:nth-child(2) {
  background-color: #ff5b1b;
}

.whiteNotes > span[active]:nth-child(3),
.blackNotes > span[active]:nth-child(3) {
  background-color: #0fddff;
}

.whiteNotes > span[active]:nth-child(4) {
  background-color: #fcff21;
}

.whiteNotes > span[active]:nth-child(5),
.blackNotes > span[active]:nth-child(6) {
  background-color: #026400;
}

.whiteNotes > span[active]:nth-child(6),
.blackNotes > span[active]:nth-child(7) {
  background-color: #7100a4;
}

.whiteNotes > span[active]:nth-child(7),
.blackNotes > span[active]:nth-child(8) {
  background-color: #ff00a7;
}

.blackNotes > span {
  background-color: black;
  border-right: 1px solid #fff;
  cursor: pointer;
  height: 100%;
  display: inline-block;
  flex-grow: 1;
  order: 1;
  width: auto;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}

.blackNotes > span:nth-child(1),
.blackNotes > span:nth-child(4),
.blackNotes > span:nth-child(5),
.blackNotes > span:last-child {
  visibility: hidden;
}
